<launch>

  <arg name="model" default="$(find spot_description)/urdf/spotmicroai.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find spot_description)/rviz/default.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <rosparam command="load" file="$(find spot_description)/config/limit.yaml" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <rosparam param="source_list">["joint_states_source"]</rosparam>

  <node name="simulation" pkg="spot_interface" type="simulation" />

</launch>